<!doctype html>
<html>
<head>
<%- include('common/head') %>
<title>Not Found</title>
</head>
<body>
<%- include('common/menu') %>
<div class="main">
  <div class="container-md">
    <h1>Not Found.</h1>
  </div>
</div>
</body>
</html>
