<html>
<head>
<%- include('common/head') %>
</head>
<body>
    <div class="common">
        <a href="/">TOP</a>
    </div>
    <div class="main">
        <h1>Not Found.</h1>
    </div>
</body>
</html>