<!doctype html>
<html>
<head>
<%- include('common/head') %>
<title>Top</title>
</head>
<body>
<%- include('common/menu') %>
<div class="main">
    <div class="markdown-body">
        <h1>Files</h1>
        <ul>
            <% files.forEach(function(file) { %>
            <li><a href="<%- file.path %>"><%= file.notation %></a></li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>
