<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/files_builtin/common.css">
</head>
<body>
    <div class="common">
        <a href="/">TOP</a>
    </div>
    <div class="main">
        <%- content %>
    </div>
</body>
</html>