<!doctype html>
<html>
<head>
<%- include('common/head') %>
<link rel="stylesheet" href="/-/github-markdown.css">
<link rel="stylesheet" href="/-/highlight.js/styles/github.css">
<title><%= title %></title>
</head>
<body>
<%- include('common/menu') %>
<div class="main">
  <div class="container-md">
    <div class="markdown-body">
      <%- content %>
    </div>
  </div>
</div>
<script src="/-/highlight.js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
